.trashCounter {
  padding: 16px;
  overflow-y: auto; /* 如果内容超过视口高度，添加滚动条 */
}

.categoryHeader {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.itemButton {
  margin: 5px;
  padding: 12px 24px; /* 增大按钮尺寸 */
  font-size: 16px; /* 增大字体大小 */
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  height: 50px; /* 增加按钮高度 */
  white-space: normal; /* 允许文本换行 */
  text-align: center; /* 使按钮文本居中 */
  width: 100%; /* 按钮宽度填满容器 */
}

.itemButton:hover {
  background-color: #e7e7e7;
}

.imageUploadLabel {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px; /* 增大标签尺寸 */
  font-size: 16px; /* 增大字体大小 */
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.imagePreview {
  width: 200px; /* 增大预览图像尺寸 */
  height: 200px; /* 增大预览图像尺寸 */
  margin-top: 20px;
  border: 1px solid #ddd; /* 为图像添加边框 */
}

.thankYouMessage {
  background-color: yellow; 
  display: flex;
  flex-direction: column;
  align-items: center; /* 使文本和按钮居中 */
}

.thankYouMessage button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.thankYouMessage button:hover {
  background-color: #45a049;
}

.submitButtonContainer {
  width: 100%; /* 占满整个容器的宽度 */
  display: flex;
  justify-content: center; /* 使按钮水平居中 */
}
.submitButton {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px; /* 增大按钮尺寸 */
  font-size: 16px; /* 增大字体大小 */
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  width: 75%; /* 按钮宽度设置为75% */
  margin: 10px auto; /* 上下保留10px的空间，左右自动对齐以居中 */
}

.submitButton:hover {
  background-color: #007BA7;
}

.imagePreviewContainer {
  margin-bottom: 20px; /* 预览图片和提交按钮之间的间距 */
}
/* 最新上传的图片预览样式 */
.latestImagePreview {
  width: 100%; /* 或者您希望的宽度 */
  max-width: 300px; /* 防止图片过大 */
  height: auto; /* 保持图片的比例 */
  margin-bottom: 10px; /* 与按钮之间的间距 */
}

.imageButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* 与提交按钮之间的间隔 */
}

/* 查看所有图片按钮样式 */
.viewAllButton {
  flex: 1;
  text-align: center;
  margin: 5px;
  padding: 10px;
  width: calc(50% - 10px);
  
}

.viewAllButton.disabledButton {
  background-color: #ccc;
  cursor: not-allowed;
  text-align: center;
  display: inline-block;
  width: calc(50% - 10px);
}

.latestImagePreview {
  width: 100%;
  max-height: 200px; /* 设置最大高度 */
  object-fit: contain; /* 保持图片比例 */
  margin-bottom: 10px; /* 与按钮之间的间距 */
}

.imagePlaceholder {
  width: 100%;
  height: 200px;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  margin-bottom: 10px;
}
/* 画廊中的图片样式 */
.galleryImage {
  max-width: 100%; /* 确保图片宽度不超过容器宽度 */
  height: auto; /* 高度自适应 */
  width: calc(50% - 4px); /* 两张图片占满宽度，减去边距 */
  margin-right: 10px; /* 图片间添加间隙 */
  height: auto; /* 保持图片的比例 */
  display: inline-block; /* 使图片并排显示 */
}

/* 画廊容器样式 */
.gallery {
  overflow-x: auto; /* 允许横向滚动 */
  white-space: nowrap; /* 防止图片换行，使其在一行内滚动 */
  text-align: center; /* 居中图片 */
  padding: 10px; /* 与模态的边界有一些间距 */
}

.uploadLabel {
  display: inline-block; /* 这会使label表现得像一个按钮 */
  background-color: #4caf50; /* 上传按钮的背景色 */
  color: white;
  padding: 8px 20px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  flex-grow: 1; /* 允许按钮填充剩余空间 */
  margin-right: 10px; /* 与查看全部图片按钮之间的间距 */
  width: calc(50% - 10px);
}

/* 确保上传部分是可见的，并合适地定位 */
.uploadSection {
  margin-bottom: 20px; /* 或根据需要进行调整 */
}

.galleryOverlay {
  position: relative;
}

.closeGalleryButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: transparent;
  color: #de180e; /* 可以根据您的设计要求更改颜色 */
  border: none;
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.galleryContent {
  display: flex;
  flex-wrap: nowrap; /* 防止图片换行 */
  overflow-x: auto; /* 横向内容超出时可以拖动查看 */
  gap: 10px; /* 图片之间的间隙 */
  padding: 20px;
  align-items: center; /* 垂直居中对齐图片 */
}

.galleryImage {
  flex: 0 0 auto; /* 图片不伸缩，按原始尺寸展示 */
  max-width: 100%; /* 确保图片不会超出屏幕 */
  height: auto; /* 高度自适应 */
  border-radius: 4px; /* 图片圆角 */
}

.imageButtonContainer {
  display: flex;
  justify-content: space-between; /* 使两个按钮分布在两边 */
  margin-bottom: 10px; /* 与下方按钮的间隔 */
}